/* This class concerns the nav bar */
nav.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: teal;
    font-family: "Montserrat", sans-serif;
    height: 30px;
}
ul.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
} 
ul.nav-links li{
    list-style: none;
} 
ul.nav-links a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    padding: 14px 16px;
} 
ul.nav-links a:hover:not(.active){
    background-color: lightseagreen;
} 
ul.nav-links li a.active{
    background-color: #4caf50;
}
div.heading{
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 30px;
}
  
/*These are classes for the publications section*/
h2.publications{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    width: 500px;
}
li.publications {
    width: 85%;
    margin: 10px;
}
.linkpublications {
    color: rgb(34, 40, 203); 
    background-color: transparent; 
    text-decoration: none;
    /*font-weight: bold;*/
}
.linkdoi {
    color: rgb(0, 0, 0); 
    background-color: transparent; 
    text-decoration: none;
}

/*These are classes for the projects section*/
.profile_small{
    margin: 100px;
    height:200px;
    border-radius: 10%;
    border: 2px solid #000000;
    margin-left: 200px;
}
div.projects {
    display: grid;
    padding: 2rem;
    grid-template-columns: 300px 1fr;
    gap: 8rem;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    font-size: 5px;
}
div.projects2 {
    align-items: center;
    width: 1000px;
    margin: 0 auto;
    font-size: 5px;
}
p.projects {
    font-size: 15px;
    margin-top:-10px;
    margin-bottom:10px;
}
p.projects2{
    font-size: 16px;
    margin-top:10px;
    margin-bottom:10px;
}
img.projects {
    margin-left:-50px;
    width: 400px;
    height: auto;
    border-radius: 1%;
    border: 4px solid #000000;
}
img.projects2{
    float: left;
    width: 325px;
    height: 160px;
    margin-right:20px;
    border-radius: 1%;
    border: 4px solid #000000;
}
h1.headprojects {
    text-align: center;
    font-size:20px;
    margin-bottom:20px;
    margin-top:60px;
}
.brprojects {
    display: block; 
    content: ""; 
    margin-top: 0;
 }
ol.nostyle {
    /*text-align: center;*/
    width: 100%;
    margin: 10px;
    /*margin-right: 100px;*/
    margin-top: 50px;
    list-style-type: none;
    margin-bottom: 70px;
}
li.nostyle {
    width: 85%;
    margin-bottom: 10px;
    /*margin-top: 50px;
    /*margin-left: 10px;
    margin-right: 10px;*/
    list-style-type: none;
    font-size: 15px;
}
.divindex {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    height: 300px;
    margin-top: -40px;
}  
.text {
    width: 400px;
    height: 300px;
    margin-left: 50px;
    margin-top: 80px;
    font-size: 50px;
}

div.aboutme {
    text-align: center;
    height: 300px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 80px;
    margin-bottom: 100px;
    font-size: 30px;
}

div.resume {
    height: 300px;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 80px;
    margin-bottom: 250px;
    font-size: 20px;
}

figcaption.figcaption{
    color: rgb(0, 0, 0);
    font-style: italic;
    text-align: right;
    font-size: 10px;
    margin-right: 250px;
}

figcaption.projects{
    color: rgb(0, 0, 0);
    font-style: italic;
    text-align: right;
    font-size: 10px;
    margin-right: 350px;
    width: 350px;
}

/* General Website Style rules */
body {
    font-family: "Helvetica", Sans-Serif;
    /*background-image: url('../images/background.jpg');*/
    background-color: #caeecd;
}

h1 {
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

h2 {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin-top:40px;
}

h3 {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

h4 {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

p {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

img.logoUS {
    height: 50px;
    width: auto;
    vertical-align: -50%;
    margin-left: 10px;
}
img.logoCU {
    height: 28px;
    width: auto;
    vertical-align: -10%;
    margin-left: 10px;
}

img.logoGMV {
    height: 35px;
    width: auto;
    padding: 0px 0px 0px 0px;
    vertical-align: -50%;
    margin-left: 10px;
}

p.copyright {
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin-left: 600px;
}